legacy-peer-deps=true
@ciscodesignsystems:registry=https://artifactory.devhub-cloud.cisco.com/artifactory/api/npm/magnetic-common-npm/
//artifactory.devhub-cloud.cisco.com/artifactory/api/npm/magnetic-common-npm/:_authToken=${ARTIFACTORY_NPM_TOKEN}
